<p>Session with details acquired from SSO:</p>

<%= ap(session).html_safe %>

<p>Token expires in <%= session[:sso_token_expires_at] - Time.now.to_i %> seconds.</p>

<p><%= link_to 'logout', '/logout' %></p>

<p><%= link_to 'SSO profile', current_user['links']['profile'] %></p>
