<p>User details retrieved from SSO</p>

<p>Signon user_id: <%= session['sso_id'] %></p>

<p>Details: <code><%= current_user.inspect %></code></p>

<p><%= link_to 'logout', '/logout' %></p>

<p><%= link_to 'SSO profile', current_user['links']['profile'] %></p>